

body {
    font-family: "Yantramanav", sans-serif;
}

.header {
    background-color: #06070e;
    color: white;
}



html, body {
    height: 100%;
    margin: 0;
  }

  .wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }

  .footer   {
    height: 50px;
    background-color: #06070e;
    color: white;
    text-align: center;
  }
  